<%= render "participants.html", assigns %>

<script type="text/javascript">
    function toggle(id, e) {
       $("[data-id=" + id + "]").toggleClass("hide");
       e.preventDefault();
       return false;
    }
</script>