/* This file is for your main application css. */

@import "./phoenix.css";

section.container{
    background-image: url(/images/background.jpg);
}

div.header{
    width: 100%;
}

div.logo{
    text-align: center;
    padding: 30px 10px;
}

div.links{
    width: 100%;
    color: white;
}

div.links a{
    color: white;
}

div.participant-title{
    color: white;
    background-color: rgba(3,11,39,.7);
    position: relative;
    height: 56px;
    top: -63px;
    padding: 3px 10px;
}
div.participant-title div.country{
    color: #2586a7;
    font-size: 15px;
}

div.participant-title div.name{
    font-size: 20px;
}

div.participant-title div.text{
    float: left;
}

div.participant-title div.points{
    float: right;
    font-size: 35px;
}

div.more-info{
    float: left;
    position: relative;
    top: -65px;
    border-bottom: 1px solid #2586a7;
    width: 100%;
}

div.more-info div.description{
    font-weight: bold;
}

div.more-info div.video{
    margin-top: 10px;
}

div.more-info div.vote{
    text-align: right;
}

div.more-info div.vote input.points{
    width: 150px;
}

.hide{
    display: none;
}

div.voting-area{
    font-weight: bold;
    text-align: center;
}